

<h2>Update this article</h2>
<%= form_for(@article) do %>
  <input type='text' name='article[author]' placeholder='author'>
  <input type='text' name='article[title]' placeholder='title'>
  <input type='text' name='article[body]' placeholder='body'>
  <input type='submit'>
<% end %>