<div id='new_article_container'>
  <a href="articles/new" id='new_article_link'>Write a new post</a>

  <% @articles.each do |article| %>
    <%= render partial: 'articles', locals: {article:article}%>
  <% end %>
</div>

