
<a href="articles/new" id='new_article'>Write a new post</a>

<% @articles.each do |article| %>

  <h1><a href='articles/<%= article.id %>'><%= article.title%></a></h1>
  <h3>by <%= article.author %></h3>
  <h5><%= article.body %></h5>
<% end %>



